{%- if collection.all_tags.size > 0 and _filter_pos != 'none' -%}
  {%- assign file_extension     = 'png' -%}
  {%- assign i_fil              = i_fil | plus: 1 -%}
  {%- assign _sidebar_style     = section.settings.sidebar_style -%}
  {%- assign _prefix_filter     = block.settings.filter_prefix | strip | handle -%}
  {%- assign _arr_prop          = block.settings.filter_prefix_prop | strip_newlines | split: ',' -%}
  {%- assign _filter_direction  = block.settings.direction -%}
  {%- assign _size_border_rd    = section.settings.filter_size_rd -%}
  
  {%- capture filter_title -%}filter-block-title h{{section.settings.heading_sb_size}} {{section.settings.heading_sb_ff}}{%- endcapture -%} 

  {%- unless _prefix_filter == blank -%}
    {% capture ci %}{{ _prefix_filter }}{% endcapture %}

    <div class="sbw-filter {{ _filters_style }}{% if _filters_style == 'toggle' or _filters_style == 'select' %} col-lg-{{block.settings.toggle_width}}{% endif %} filter-nth-{{i_fil}}">
      <div class="grid-uniform" data-prefix="{{_prefix_filter}}">

        <div id="filter-{{ i_fil }}" class="sb-filter {{_prefix_filter}}" data-type="{{_prefix_filter}}">
          <div class="sbf-title">
            <span class="{{filter_title}}">{{ block.settings.title }}</span>
            {%- include 'right-arrow' -%}
            <a id="clear-filter-{{ i_fil }}" class="clear-filter hidden" style="float: right;" href="javascript:void(0);">
              Clear all
              {%- include 'icon-close' -%}
            </a>
          </div>

          <ul class="advanced-filters{% if _filter_direction == 'row' %} list-inline{% endif %}">
            {%- for cus_tag in _arr_prop -%}
              {%- capture af_tag -%}{{ cus_tag | strip | downcase | prepend: '+++' | append: '+++' }}{%- endcapture -%}
              {%- assign custom_tag = cus_tag | strip | downcase -%}

              {%- if _all_tags contains af_tag -%}
                {%- assign value = custom_tag -%}
                {%- capture in_current_tag -%}
                {% for tag in current_tags %}{% capture cur_tag %}{{ tag | strip | downcase | prepend: '+++' | append: '+++' }}{% endcapture %}{{cur_tag}}{% endfor %}
                {%- endcapture -%}

                {%- if in_current_tag contains af_tag -%}
                  {%- for tag in collection.all_tags -%}
                    {% capture t %}{{ tag | strip | downcase }}{% endcapture %}

                    {%- if t == custom_tag  -%}
                      {%- if ci == 'color' or ci == 'colour' -%}
                        <li data-group="{{ _prefix_filter }}" class="advanced-filter color-{{ value | handle }} af-color cf-{{ value }} active-filter"
                            data-handle="{{ custom_tag | handleize }}">
                            {%- assign _title = custom_tag | capitalize -%}
                            {%- assign new_title = 'title="' | append: _title | append: '" data-unnecessary' -%}
                            {{ '' | link_to_remove_tag: tag | replace: 'title', new_title }}
                            {% comment %}{{ custom_tag | capitalize | link_to_remove_tag: tag | replace: 'Remove tag ','' }}{% endcomment %}
                        </li>
                      {%- else -%}

                        <li data-group="{{ _prefix_filter }}" class="advanced-filter rt{% if ci contains 'size' and _size_border_rd %} size-rd{% endif %} active-filter" data-handle="{{ custom_tag | handleize }}">
                          {{ custom_tag | capitalize | link_to_remove_tag: tag | replace: 'Remove tag ','' }}
                        </li>
                      {%- endif -%}

                    {%- endif -%}
                  {%- endfor -%}
                {%- else -%}

                  {%- if ci == 'color' or ci == 'colour' -%}

                    <li data-group="{{ _prefix_filter }}" class="advanced-filter color-{{ value | handle }} af-color cf-{{ value }}">
                      {%- assign _title = custom_tag | capitalize -%}
                      {%- assign new_title = 'title="' | append: _title | append: '" data-unnecessary' -%}
                        {{ '' | link_to_add_tag: custom_tag | replace: 'title', new_title }}
                        {% comment %}{{ custom_tag | capitalize | link_to_add_tag: custom_tag | replace: 'Narrow selection to products matching tag ', '' }}{% endcomment %}
                    </li>

                  {%- else -%}
                    <li data-group="{{ _prefix_filter }}" class="advanced-filter rt{% if ci contains 'size' and _size_border_rd %} size-rd{% endif %}">
                      {{ custom_tag | capitalize | link_to_add_tag: custom_tag | replace: 'Narrow selection to products matching tag ', '' }}
                    </li>

                  {%- endif -%}
                {%- endif -%}

              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>

    {%- capture filter_ID -%}#filter-{{ i_fil }}{%- endcapture -%}
    {%- capture filter_borderID %}{{- filter_ID }} .advanced-filter.af-color,{{- filter_ID }} .advanced-filter a,{{- filter_ID }} .advanced-filter a:before{%- endcapture -%}
    
    {%- capture block_css -%}
      {%- include 'css-responsive' ,classID: filter_borderID, css_value: block.settings.filter_border_radius ,css_property: 'border-radius' -%}
      {%- include 'css-responsive' ,classID: filter_ID, nextClassID: ' ul.advanced-filters' css_value: block.settings.block_max_height ,css_property: 'max-height' -%}
    {%- endcapture -%}
    {%- assign section_css = section_css | append: block_css -%}
  {%- endunless -%}
{%- endif -%}