{%- assign cardName_uppercase = settings.card_name_uppercase -%}
{%- assign cardName_maxString = settings.product_title_string -%}
{%- assign cardEffect         = settings.product_item_hover_effect -%}

{%- capture c_image -%}
  {%- if product.media.first.type != 'image' -%}
    {%- include 'image-style' ,image: product.featured_media.preview_image, image_size: '390x', image_class: 'featured-image front', _type: 'product' -%}    
  {%- else -%}
    {%- include 'image-style' ,image: product.featured_image, image_size: '390x', image_class: 'featured-image front', _type: 'product' -%}
  {%- endif -%}

  {%- if cardEffect == 'fade_in_back' or cardEffect == 'zoom_in' or card_nav_img -%}
    {%- if image_count > 1 -%}
      <span class="img-back d-none d-lg-block">
        {%- include 'image-style' ,image: product.images[1], image_size: '390x', image_class: 'back-img', _type: 'product' -%}
      </span>
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}

{%- capture c_tags -%}
  {%- assign c_show_info = settings.show_product_info -%}
  {%- unless c_show_info == 'hide' -%}
    <div class="product-tags">
      {%- case c_show_info -%}
        {%- when 'tags' -%}{%- for tag in product.tags limit: 2 -%}{{- tag | capitalize | link_to_tag: tag -}}{%- endfor -%}
        {%- when 'type' -%}<a href="{{productURL}}">{{product.type}}</a>
        {%- else -%}<a href="{{productURL}}">{{product.vendor}}</a>
      {%- endcase -%}
    </div>
  {%- endunless -%}
{%- endcapture -%}

{%- capture c_name -%}
	<h5 class="product-name{% if cardName_maxString != 'none' %} max-{{cardName_maxString}}-str{% endif %}{% if cardName_uppercase %} text-uppercase{% endif %} {{settings.card_name_font_family}}">
		<a href="{{productURL}}" title="{{ product.title }}">{{ product.title }}</a>
	</h5>
{%- endcapture -%}

{%- capture c_compare -%}
  {%- if settings.enable_product_compare -%}
    <div class="product-compare">
      {%- include 'icons' ,action_type: 'add' ,type: 'compare' -%}
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- capture c_wishlist -%}
  {%- if settings.enable_product_wishlist -%}
    <div class="product-wishlist">
      {%- include 'icons' ,action_type: 'add' ,type: 'wishlist' -%}
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- capture c_quick_view -%}
  {%- if settings.use_quick_view -%}
    <div class="product-quick-view">
      <a href="javascript:void(0);" class="quick_shop" data-target="#quick-shop-popup" data-handle="{{ product.handle }}" data-image-ratio="{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%" data-toggle="modal" title="{{ 'products.product.quick_shop' | t }}">
        {%- include 'icons',type: 'icon_type', f: 'quickview' -%}
        <span class="icon-text">{{- 'products.product.quick_shop' | t -}}</span>
      </a>
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- capture c_review -%}
	{%- if settings.product_review_type != 'none' and settings.show_product_review -%}
		{%- include 'include-reviews' with type: 'preview_badge' -%}
	{%- endif -%}
{%- endcapture -%}

{%- capture c_sh_description -%}
	{%- assign meta_shortdes = product.metafields.c_f -%}
	{%- unless meta_shortdes.description_excerpt == blank -%}

  <div class="card-sh-description">
    <div class="product-description">{{ meta_shortdes.description_excerpt }}</div>
  </div>
	{%- endunless -%}
{%- endcapture -%}

{%- capture c_description_json -%}
  {%- assign meta_shortdes = product.metafields.c_f -%}
  {%- unless meta_shortdes.description_excerpt == blank -%}
  <div class="hide d-none product-short-des" data-name="productDescription">{{ meta_shortdes.description_excerpt | json }}</div>
  {%- endunless -%}
{%- endcapture -%}

{%- capture c_swatch -%}
  {%- if show_swt and product.options.size > 0 -%}
    {%- assign swt_circle    = settings.show_swatch_type_circle    | downcase -%}
    {%- assign swt_rectangle = settings.show_swatch_type_rectangle | downcase -%}

    {%- if product.options.size == 1 -%}
      {%- assign swt_count = product.options_with_values[0].values.size -%}
      {%- if swt_count > 1 -%}
        <div class="card-swatch swatch-wrapper">
          {%- assign option = product.options[0] -%}
          {%- assign op = option | downcase -%}
          {%- if swt_circle contains op -%}
            <div class="wrap-swatch-{{op}}">{%- include 'swatch_item' with option, swt_shape: 'circle' -%}</div>
          {%- elsif swt_rectangle contains op -%}
            <div class="wrap-swatch-{{op}}">{%- include 'swatch_item' with option, swt_shape: 'rectangle' -%}</div>
          {%- endif -%}
        </div>
      {%- endif -%}

    {%- elsif product.options.size > 1 -%}
      <div class="card-swatch swatch-wrapper">
        {% for option in product.options %}
          {%- assign swt_count = product.options_with_values[forloop.index0].values.size -%}
          {%- if swt_count > 1 -%}
            {% assign op = option | downcase %}
            {% if swt_circle contains op %}
              <div class="wrap-swatch-{{op}}">{%- include 'swatch_item' with option, swt_shape: 'circle' -%}</div>
            {% elsif swt_rectangle contains op %}
              <div class="wrap-swatch-{{op}}">{%- include 'swatch_item' with option, swt_shape: 'rectangle' -%}</div>
            {% endif %}
          {%- endif -%}
        {% endfor %}
      </div>
    {%- endif -%}

    <div class="swt-image-item">
      {%- for v in product.variants -%}
        {%- unless v.featured_image == blank -%}
          {%- assign v_featured_image   = v.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

          <img class="img-swt-temp lazyload img-lazy hide"
          data-variant-id="{{ v.id }}"
          data-src="{{ v_featured_image }}"
          data-widths="[360, 480, 768, 1024, 1440, 2560]"
          data-aspectratio="{{ v.featured_image.aspect_ratio }}"
          data-sizes="auto"
          data-expand="auto"
          data-parent-fit="cover"/>
        {%- endunless -%}        
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- capture c_progress -%}
  {%- assign sold_count     = sold_count | default: product.metafields.c_f.sold_count -%}
  {%- assign _sold_count    = sold_count | times: 1 -%}
  {%- assign _available     = product.selected_or_first_available_variant.inventory_quantity -%}
  {%- assign t_available    = _sold_count | times: 100.0 -%}
  {%- assign progress_width = t_available | divided_by: _available | round: 2 -%}

  {%- if _sold_count > 0 and progress_width > 0 and show_progress and product.available -%}
    <div class="card-progress" data-metafields="c_f.sold_count">
      <div class="d-flex justify-content-between">
        <div class="pg-available">{{- 'products.product.available' | t -}}: <span class="number">{{ _available }}</span></div>
        <div class="pg-soldout">{{- 'products.product.sold_out' | t -}}: <span class="number">{{ _sold_count }}</span></div>
      </div>
      <div class="progress-bar">
        <span class="progress-width" style="width:{{ progress_width }}%;"></span>
      </div>
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- capture c_cart -%}
  {%- assign _dynamic_cart_btn = settings.dynamic_cart_btn -%}

  {%- if btn_class == blank and card_style != 5 and card_style != 2 -%}
    {%- assign btn_class = 'btn btn-' | append: settings.card_btn_inherit -%}
  {%- endif -%}

  {%- if settings.card_btn_text_uppercase -%}
    {%- assign btn_class = btn_class | prepend: 'text-uppercase ' -%}
  {%- endif -%}

  {%- if card_style == 4 or card_style == 6 -%}
    {%- assign btn_class = '' -%}
    {%- assign card_cart_btn_display = 'icon' -%}
  {%- endif -%}

  {%- capture _p_cartIcon -%}
    {%- unless _p_cart_icon == blank -%}
      {%- include 'icons', type: 'icon_free', name: _p_cart_icon -%}
    {%- else -%}
      {%- include 'icons', type: 'icon_type', f: 'cart' -%}
    {%- endunless -%}
  {%- endcapture -%}

  {%- capture _pCart_content -%}
    {%- if card_cart_btn_display == 'icon' or card_cart_btn_display == 'all' -%}
      {%- if _p_cart_pos == blank or _p_cart_pos == 'left' -%}{{_p_cartIcon}}{%- endif -%}
    {%- endif -%}

    {%- if card_cart_btn_display == 'text' or card_cart_btn_display contains 'all' -%}
      <span class="cart-icon-text">
        {%- if product.available -%}
          {%- if product.variants.size > 1 and _dynamic_cart_btn == false -%}
            {{ 'products.product.select_options' | t }}
          {%- else -%}
            {{ 'products.product.add_to_cart' | t }}
          {%- endif -%}
        {%- else -%}
          {{ 'products.product.sold_out' | t }}
        {%- endif -%}
      </span>
    {%- endif -%}

    {%- if card_cart_btn_display == 'icon' or card_cart_btn_display == 'all-2' -%}
      {%- if _p_cart_pos == 'right' or card_cart_btn_display == 'all-2' -%}{{_p_cartIcon}}{%- endif -%}
    {%- endif -%}
  {%- endcapture -%}
  
  {%- capture variantJSON -%}
    [{%- for variant in product.variants -%}
    {"id": "{{ variant.id }}","status": "{{ variant.available }}","value": "{{ variant.title | escape }}"}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}]
  {%- endcapture -%}

  <div class="product-add-cart cart-button-style-{{card_cart_btn_display}} {{settings.card_btn_label_font_family}}{% unless product.available %} sold-out d-none{% endunless %}">

    {%- if product.available -%}
      <form action="/cart/add" method="post" enctype="multipart/form-data">
        {%- if product.variants.size == 1 or _dynamic_cart_btn -%}
          <a href="javascript:void(0);" class="btn-add-cart {{btn_class}} add-to-cart" title="{{ 'products.product.add_to_cart' | t }}">{{_pCart_content}}</a>
        {%- else -%}
          <a href="{{productURL}}" class="btn-add-cart {{btn_class}}" title="{{ 'products.product.select_options' | t }}">{{_pCart_content}}</a>
        {%- endif -%}

        {%- if _dynamic_cart_btn and settings.disable_ajax_cart == false  -%}
          <select class="d-none product-select-variants" name="id">
            {%- for variant in product.variants -%}              
              {%- if variant.available -%}
                <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %}>{{ variant.title | escape }}</option>
              {%- else -%}
                <option value="{{ variant.id }}" disabled="disabled">{{ variant.title | escape }}</option>
              {%- endif -%}
            {%- endfor -%}
          </select>
        {%- else -%}
          <input type="hidden" name="id" value="{{product.selected_or_first_available_variant.id}}">
        {%- endif -%}

        <input class="product_variantJSON" type="hidden" name="" value="{{variantJSON | escape }}">
        
      </form>
    {%- else -%}
      <a href="javascript:void(0);" class="btn-add-cart {{btn_class}} sold-out">{{_pCart_content}}</a>
    {%- endif -%}
  </div>
{%- endcapture -%}

{%- capture c_countdown -%}
  {%- if settings.show_countdown -%}
    {%- assign meta_shortdes = product.metafields.c_f -%}
    {%- unless meta_shortdes.countdown_timer == blank -%}
      {%- assign expire = meta_shortdes.countdown_timer -%}
      {%- include 'include-countdown', countdown_id: product.id, countdown: expire  -%}
    {%- endunless -%}
  {%- endif -%}
{%- endcapture -%}