<ul class="widget-social-icons list-inline">
  {%- if type == 'block' -%}
    {% for i in (1..16) %}
      {%- assign _type = 'social_icon_type_' | append: i -%}
      {%- unless block.settings[_type] == 'none' -%}
        {%- assign _font_icon = 'social_font_icon_'  | append: i -%}
        {%- assign _image     = 'social_icon_'       | append: i -%}
        {%- assign _title     = 'social_icon_title_' | append: i -%}
        {%- assign _link      = 'social_icon_link_'  | append: i -%}
        <li>
          <a target="_blank" rel="noopener" href="{{ block.settings[_link] }}" title="{{ block.settings[_title] }}">
            {%- if block.settings[_type] == 'font-icon' -%}
              <i class="demo-icon {{ block.settings[_font_icon] }}"></i>
            {%- else -%}
              <img src="{{ block.settings[_image] | img_url: '20x' }}" alt="Social" />
            {%- endif -%}
            {%- if footer_type == 'style-02' -%}<span>{{block.settings[_title]}}</span>{%- endif -%}
          </a>
        </li>
      {%- endunless -%}
    {% endfor %}

  {%- else -%}
    {%- capture social_m_default -%}
       https://www.facebook.com/FourReasonsUSA
      ,https://twitter.com/fourreasons_fi
      ,https://www.instagram.com/fourreasonsusa/?hl=en
      ,https://fi.pinterest.com/NonothingUS/
      ,https://www.youtube.com/channel/UCZo1NNR6QhRz6z7RZ0rdKrg/featured
    {%- endcapture -%}

    {%- assign social_m_default = social_m_default | strip_newlines | split: ',' -%}
    {% for i in (1..6) %}
      {%- assign _type = 'social_icon_type_' | append: i -%}
      {%- unless settings[_type] == 'none' -%}
        {%- assign _font_icon = 'social_font_icon_'  | append: i -%}
        {%- assign _image     = 'social_icon_'       | append: i -%}
        {%- assign _title     = 'social_icon_title_' | append: i -%}
        {%- assign _link      = 'social_icon_link_'  | append: i -%}
        {%- assign j = i | minus: 1 -%}
        {%- assign _default_l = social_m_default[j] | strip -%}
        <li>
          <a target="_blank" rel="noopener" href="{{ settings[_link] | default: _default_l }}" title="{{ settings[_title] }}">
            {%- if settings[_type] == 'font-icon' -%}
              <i class="demo-icon {{ settings[_font_icon] }}"></i>
            {%- else -%}
              <img src="{{ settings[_image] | img_url: '20x' }}" alt="Social" />
            {%- endif -%}
            {%- if footer_type == 'style-02' -%}<span>{{settings[_title]}}</span>{%- endif -%}
          </a>
        </li>
      {%- endunless -%}
    {% endfor %}
  {%- endif -%}
</ul>