{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- assign _lazyload    = false -%}
{%- assign _bg_img      = section.settings.section_bg_image -%}
{%- assign _title       = section.settings.head_title -%}
{%- assign _title_color = section.settings.title_color | default: 'rgba(0,0,0,0)' -%}

{%- capture sectionID -%}.section-show-{{section.id}}{%- endcapture -%}
{%- capture _bg_image -%}{% if _bg_img != blank %}{{_bg_img | img_url: '1920x'}}{% endif %}{%- endcapture -%}

<div class="password-content layout-{{_layout }} section-show-{{section.id}}{% if _bg_image != blank %} bg-image{% endif %}" data-section-id="{{section.id}}" data-section-type="password-page">
  {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}

    <div class="section-content">
      {%- if section.blocks.size > 0 -%}
        <div class="row">
          {%- for block in section.blocks -%}
            {%- if block.settings.nested -%}{%- continue -%}{%- endif -%}
            {%- capture blockID -%}{{sectionID}} .block-{{block.id}}{%- endcapture -%}
            {%- capture block_class -%}{%- include 'set-width-bootstrap',in_type: 'width', number: block.settings.width_resp -%}{{_out}}{%- endcapture -%}

            <div class="block-content block-{{block.id}} {{block_class}}"{{block.shopify_attributes}}>
              <div class="block-content-inner">
                {%- include 'password-blocks-snippet', blockID: blockID -%}

                {%- if section.blocks[forloop.index].settings.nested -%}

                  {%- assign _use_overlay = block.settings.use_overlay -%}
                  {%- if _use_overlay -%}
                    {%- capture block_css -%}
                      {{- blockID}} .nested-row{position: absolute;z-index: 2;width: 100%;}
                      {%- include 'css-responsive', classID: blockID ,nextClassID: ' .nested-row' ,css_value: block.settings.position, type: 'position' -%}
                    {%- endcapture -%}
                    {%- assign section_css = section_css | append: block_css -%}
                  {%- endif -%}

                  <div class="row nested-row">
                    {%- for block in section.blocks offset: forloop.index -%}
                      {%- unless block.settings.nested -%}{%- break -%}{%- endunless -%}
                      {%- capture n_blockID -%}{{sectionID}} .block-{{block.id}}{%- endcapture -%}
                      {%- capture n_block_class -%}{%- include 'set-width-bootstrap',in_type: 'width', number: block.settings.width_resp -%}{{_out}}{%- endcapture -%}

                      <div class="block-content-nested block-{{block.id}} {{n_block_class}}"{{block.shopify_attributes}}>
                        <div class="block-content-inner">
                          {%- include 'password-blocks-snippet', blockID: n_blockID -%}
                        </div>
                      </div>
                    {%- endfor -%}
                  </div>

                {%- endif -%}
              </div>
            </div>
          {%- endfor -%}
        </div>
      {%- else -%}
        <div class="row">
          <div class="col-12">
            <h1 class="text-center">Comming Soon</h1>
          </div>
        </div>

      {%- endif -%}
    </div>

  {%- if _layout == 'boxed' -%}</div>{%- endif -%}
</div>

<style>
  {%- if section.blocks.size > 0 -%}
    {{- section_css -}}
    {%- include 'section-general-css' -%}
    p.password-login a{color: {{section.settings.password_text_cl | default: 'rgba(0,0,0,0)'}};}
  {%- else -%}    
    .password-content h1{padding-top: 40vh;color: #fff;}
    p.password-login a{color: #fff;}
  {%- endif -%}
</style>

<script>
  var AT_Main = {

    init_CountDown : function(){
      let c_down = $('.block-countdown');
      c_down.length && $('.block-countdown').each(function(){
        let c = $(this);
        if (c.data('date') != '' && !c.hasClass('countdown-loaded') && c.children().length ) {
          var $this   = c
          ,id         = $this.find('.wrapper-countdown').data('id')
          ,newTime    = $this.find('.wrapper-countdown').data('date').toString().split('/')
          ,newSecond  = new Date(newTime[2], Number(newTime[0])-1, newTime[1]).getTime() / 1000
          ,nowSecond  = new Date().getTime() / 1000
          ,secondTime = newSecond > nowSecond ? newSecond - nowSecond : 0;
          if (secondTime > 0) {
            $this.addClass('countdown-loaded');
            AT_Main.init_EasyTimer($('.countdown_'+id),secondTime);
          }else{
            c.remove();
          }
        }
      });
    }

    ,init_EasyTimer : function(selector,time_second){
      let timer = new easytimer.Timer(), _secondsMinWidth = 0;

      timer.start({countdown: true, startValues: {seconds: time_second}});
      timer.addEventListener('secondsUpdated', function (e) {
        let d = timer.getTimeValues().days
        ,h = timer.getTimeValues().hours
        ,m = timer.getTimeValues().minutes
        ,s = timer.getTimeValues().seconds;
        let d_t = d > 1 ? "{{- 'date_formats.days'    | t -}}" : "{{- 'date_formats.day'    | t -}}"
           ,h_t = h > 1 ? "{{- 'date_formats.hours'   | t -}}" : "{{- 'date_formats.hour'   | t -}}"
           ,m_t = m > 1 ? "{{- 'date_formats.minutes' | t -}}" : "{{- 'date_formats.minute' | t -}}"
           ,s_t = s > 1 ? "{{- 'date_formats.seconds' | t -}}" : "{{- 'date_formats.second' | t -}}";

        selector.find('.count-day .date-number').html(d < 10 ? '0'+d : d);
        selector.find('.count-hours .date-number').html(h < 10 ? '0'+h : h);
        selector.find('.count-minutes .date-number').html(m < 10 ? '0'+m : m);
        selector.find('.count-seconds .date-number').html(s < 10 ? '0'+s : s);

        selector.find('.count-day .text-date').html(d_t);
        selector.find('.count-hours .text-date').html(h_t);
        selector.find('.count-minutes .text-date').html(m_t);
        selector.find('.count-seconds .text-date').html(s_t);

        let _m = selector.find('.count-seconds').outerWidth();
        _secondsMinWidth = _m > _secondsMinWidth ? _m : _secondsMinWidth;
        selector.children().css('min-width', _secondsMinWidth + 'px');

        let _canvas_parent = selector.parents('.countdown-content').find('.countdown-canvas');
        if (_canvas_parent.length) {
          _canvas_parent.find('.canvas-days').attr('data-per', d < 10 ? '0'+d : d);
          _canvas_parent.find('.canvas-hours').attr('data-per', h < 10 ? '0'+h : h);
          _canvas_parent.find('.canvas-mins').attr('data-per', m < 10 ? '0'+m : m);
          _canvas_parent.find('.canvas-secs').attr('data-per', s < 10 ? '0'+s : s);
          _canvas_parent.find('.canvas-days .text-date').html(d_t);
          _canvas_parent.find('.canvas-hours .text-date').html(h_t);
          _canvas_parent.find('.canvas-mins .text-date').html(m_t);
          _canvas_parent.find('.canvas-secs .text-date').html(s_t);

          _canvas_parent.find('.canvas-wrap').length && _canvas_parent.find('.canvas-wrap').each(function(index, el) {
            AT_Main.initCanvas($(el));
          });
        }
      });
      timer.addEventListener('targetAchieved', function (e) {selector.remove();});
    }

    ,initCanvas : function(el){
      var can     = document.getElementById('canvas-'+el.data('id'));

      if(can == null){return;}
      c           = can.getContext('2d');
      c.lineCap   = 'round';
      AT_Main.canVasRun(el,can, c);
    }

    ,canVasRun : function(el,can,c){
      let deegres
      posX            = can.width / 2,
      posY            = can.height / 2,
      procent         = 0,
      _id             = el.attr('data-id');

      $('#procent-'+_id).find('.date-number').html(el.attr('data-per'));

      if (_id.includes('days')) {
        deegres = (Number(el.attr('data-per'))*360) / 24;
      }else{
        deegres = (Number(el.attr('data-per'))*360) / 60;
      }


      c.clearRect( 0, 0, can.width, can.height );
      c.beginPath();
      c.arc( posX, posY, 70, (Math.PI/180) * 270, (Math.PI/180) * (270 + 360) );
      c.strokeStyle = el.parents('.countdown-canvas').attr('data-color-1');
      c.lineWidth = '4';
      c.stroke();

      c.beginPath();
      c.strokeStyle = el.parents('.countdown-canvas').attr('data-color-2');
      c.lineWidth = '5';
      c.arc( posX, posY, 70, (Math.PI/180) * 270, (Math.PI/180) * (270 + deegres));
      c.stroke();
    }

    ,init : function(){
      this.init_CountDown();
    }
  }
  jQuery(document).ready(function($) {
    var i_sections = new theme.Sections();
    i_sections.register('password-page', function(){
      AT_Main.init();
    })
  });
</script>

{% schema %}
{
   "name": "Password Content",
   "tag": "section",
   "settings": [
      {
         "type": "paragraph",
         "content": "Created by 'Password content' section"
      },
      {
         "type": "header",
         "content": "LAYOUT"
      },
      {
         "type": "checkbox",
         "id": "boxed_layout",
         "label": "Boxed layout",
         "default": true
      },
      {
         "type": "color",
         "id": "section_bg_color",
         "label": "Background color",
         "default": "#FFFFFF"
      },
      {
         "type": "image_picker",
         "id": "section_bg_image",
         "label": "Background image"
      },
      {
         "type": "select",
         "id": "section_bg_size",
         "label": "Background Size",
         "default": "cover",
         "options": [
            {
               "value": "auto",
               "label": "Auto"
            },
            {
               "value": "cover",
               "label": "Cover"
            },
            {
               "value": "contain",
               "label": "Contain"
            }
         ]
      },
      {
         "type": "select",
         "id": "section_bg_repeat",
         "label": "Background Image Repeat:",
         "default": "no-repeat",
         "options": [
            {
               "value": "no-repeat",
               "label": "No Repeat"
            },
            {
               "value": "repeat",
               "label": "Repeat"
            },
            {
               "value": "repeat-x",
               "label": "Repeat X"
            },
            {
               "value": "repeat-y",
               "label": "Repeat Y"
            }
         ]
      },
      {
         "type": "select",
         "id": "section_bg_position",
         "label": "Background Image Position:",
         "default": "center center",
         "options": [
            {
               "value": "left top",
               "label": "Left Top"
            },
            {
               "value": "center top",
               "label": "Center Top"
            },
            {
               "value": "right top",
               "label": "Right Top"
            },
            {
               "value": "left center",
               "label": "Left Center"
            },
            {
               "value": "center center",
               "label": "Center Center"
            },
            {
               "value": "right center",
               "label": "Right Center"
            },
            {
               "value": "left bottom",
               "label": "Left Bottom"
            },
            {
               "value": "center bottom",
               "label": "Center Bottom"
            },
            {
               "value": "right bottom",
               "label": "Right Bottom"
            }
         ]
      },
      {
         "type": "text",
         "id": "section_padding",
         "label": "Section Padding",
         "placeholder": "E.g: 5px 20px 5px 20px",
         "info": "Order: Top Right Bottom Left"
      },
      {
         "type":"color",
         "id":"password_text_cl",
         "label":"Header text color",
         "default": "#000000"
      }
   ],
   "blocks": [
      {
         "type": "text",
         "name": "Text",
         "settings": [
            {
              "type":"header",
              "content":"Block settings"
            },
            {
              "type":"text",
              "id":"width_resp",
              "label":"Width (1->12)",
              "placeholder":"xl,lg,md,sm,xs,xxs",
              "default":"12",
              "info":"0 to hide. E.g: 4,6,12"
            },
            {
               "type":"checkbox",
               "id":"nested",
               "label":"Block nested"
            },
            {
              "type":"text",
              "id":"alignment",
              "label":"Horizontal alignment",
              "default":"left",
              "placeholder": "E.g: left or center","info":"[Breakpoint(?)](https:\/\/help.arenacommerce.com\/customization\/grid.html)"
            },
            {
               "type":"text",
               "id":"block_padding",
               "label":"Block padding",
               "placeholder":"E.g: 5px 20px 5px 20px",
               "info":"Order: Top Right Bottom Left"
            },
            {
               "type":"text",
               "id":"block_margin",
               "label":"Block margin",
               "placeholder":"E.g: 5px 20px 5px 20px",
               "info":"Order: Top Right Bottom Left"
            },
            {
               "type":"header",
               "content":"Text content"
            },
            {
               "type": "textarea",
               "id": "text_1",
               "label": "Text 1 content",
               "default": "Lorem ipsum dolor sit amet"
            },
            {
               "type": "textarea",
               "id": "text_2",
               "label": "Text 2 content"
            },
            {
               "type": "textarea",
               "id": "text_3",
               "label": "Text 3 content"
            },
            {
               "type": "textarea",
               "id": "text_4",
               "label": "Text 4 content"
            },
            {
               "type": "header",
               "content": "Text 1"
            },
            {
               "type": "checkbox",
               "id": "text_up_1",
               "label": "Text uppercase"
            },
            {
               "type": "color",
               "id": "text_color_1",
               "label": "Text 1 color",
               "default": "#888888"
            },
            {
               "type": "range",
               "id": "text_opacity_1",
               "label": "Text Color opacity",
               "min": 0,
               "max": 100,
               "step": 5,
               "unit": "%",
               "default": 100
            },
            {
               "type": "text",
               "id": "text_fs_1",
               "label": "Text 1 font size",
               "default": "14px"
            },
            {
               "type": "select",
               "id": "text_fw_1",
               "label": "Text 1 font weight",
               "default": "300",
               "options": [
                  {
                     "value": "100",
                     "label": "100 Thin (Hairline)"
                  },
                  {
                     "value": "200",
                     "label": "200 Extra Light (Ultra Light)"
                  },
                  {
                     "value": "300",
                     "label": "300 Light"
                  },
                  {
                     "value": "400",
                     "label": "400 Normal"
                  },
                  {
                     "value": "500",
                     "label": "500 Medium"
                  },
                  {
                     "value": "600",
                     "label": "600 Semi Bold (Demi Bold)"
                  },
                  {
                     "value": "700",
                     "label": "700 Bold"
                  },
                  {
                     "value": "800",
                     "label": "800 Extra Bold (Ultra Bold)"
                  },
                  {
                     "value": "900",
                     "label": "900 Black (Heavy)"
                  }
               ]
            },
            {
               "type": "text",
               "id": "text_margin_1",
               "label": "Text 1 margin"
            },
            {
               "type": "text",
               "id": "text_lsp_1",
               "label": "Text 1 letter spacing"
            },
            {
               "type": "text",
               "id": "text_lh_1",
               "label": "Text 1 line height"
            },
            {
               "type": "header",
               "content": "Text 2"
            },
            {
               "type": "checkbox",
               "id": "text_up_2",
               "label": "Text uppercase"
            },
            {
               "type": "color",
               "id": "text_color_2",
               "label": "Text 2 color",
               "default": "#888888"
            },
            {
               "type": "range",
               "id": "text_opacity_2",
               "label": "Text Color opacity",
               "min": 0,
               "max": 100,
               "step": 5,
               "unit": "%",
               "default": 100
            },
            {
               "type": "text",
               "id": "text_fs_2",
               "label": "Text 2 font size",
               "default": "14px"
            },
            {
               "type": "select",
               "id": "text_fw_2",
               "label": "Text 2 font weight",
               "default": "300",
               "options": [
                  {
                     "value": "100",
                     "label": "100 Thin (Hairline)"
                  },
                  {
                     "value": "200",
                     "label": "200 Extra Light (Ultra Light)"
                  },
                  {
                     "value": "300",
                     "label": "300 Light"
                  },
                  {
                     "value": "400",
                     "label": "400 Normal"
                  },
                  {
                     "value": "500",
                     "label": "500 Medium"
                  },
                  {
                     "value": "600",
                     "label": "600 Semi Bold (Demi Bold)"
                  },
                  {
                     "value": "700",
                     "label": "700 Bold"
                  },
                  {
                     "value": "800",
                     "label": "800 Extra Bold (Ultra Bold)"
                  },
                  {
                     "value": "900",
                     "label": "900 Black (Heavy)"
                  }
               ]
            },
            {
               "type": "text",
               "id": "text_margin_2",
               "label": "Text 2 margin"
            },
            {
               "type": "text",
               "id": "text_lsp_2",
               "label": "Text 2 letter spacing"
            },
            {
               "type": "text",
               "id": "text_lh_2",
               "label": "Text 2 line height"
            },
            {
               "type": "header",
               "content": "Text 3"
            },
            {
               "type": "checkbox",
               "id": "text_up_3",
               "label": "Text uppercase"
            },
            {
               "type": "color",
               "id": "text_color_3",
               "label": "Text 3 color",
               "default": "#888888"
            },
            {
               "type": "range",
               "id": "text_opacity_3",
               "label": "Text Color opacity",
               "min": 0,
               "max": 100,
               "step": 5,
               "unit": "%",
               "default": 100
            },
            {
               "type": "text",
               "id": "text_fs_3",
               "label": "Text 3 font size",
               "default": "14px"
            },
            {
               "type": "select",
               "id": "text_fw_3",
               "label": "Text 3 font weight",
               "default": "300",
               "options": [
                  {
                     "value": "100",
                     "label": "100 Thin (Hairline)"
                  },
                  {
                     "value": "200",
                     "label": "200 Extra Light (Ultra Light)"
                  },
                  {
                     "value": "300",
                     "label": "300 Light"
                  },
                  {
                     "value": "400",
                     "label": "400 Normal"
                  },
                  {
                     "value": "500",
                     "label": "500 Medium"
                  },
                  {
                     "value": "600",
                     "label": "600 Semi Bold (Demi Bold)"
                  },
                  {
                     "value": "700",
                     "label": "700 Bold"
                  },
                  {
                     "value": "800",
                     "label": "800 Extra Bold (Ultra Bold)"
                  },
                  {
                     "value": "900",
                     "label": "900 Black (Heavy)"
                  }
               ]
            },
            {
               "type": "text",
               "id": "text_margin_3",
               "label": "Text 3 margin"
            },
            {
               "type": "text",
               "id": "text_lsp_3",
               "label": "Text 3 letter spacing"
            },
            {
               "type": "text",
               "id": "text_lh_3",
               "label": "Text 3 line height"
            },
            {
               "type": "header",
               "content": "Text 4"
            },
            {
               "type": "checkbox",
               "id": "text_up_4",
               "label": "Text uppercase"
            },
            {
               "type": "color",
               "id": "text_color_4",
               "label": "Text 4 color",
               "default": "#888888"
            },
            {
               "type": "range",
               "id": "text_opacity_4",
               "label": "Text Color opacity",
               "min": 0,
               "max": 100,
               "step": 5,
               "unit": "%",
               "default": 100
            },
            {
               "type": "text",
               "id": "text_fs_4",
               "label": "Text 4 font size",
               "default": "14px"
            },
            {
               "type": "select",
               "id": "text_fw_4",
               "label": "Text 4 font weight",
               "default": "300",
               "options": [
                  {
                     "value": "100",
                     "label": "100 Thin (Hairline)"
                  },
                  {
                     "value": "200",
                     "label": "200 Extra Light (Ultra Light)"
                  },
                  {
                     "value": "300",
                     "label": "300 Light"
                  },
                  {
                     "value": "400",
                     "label": "400 Normal"
                  },
                  {
                     "value": "500",
                     "label": "500 Medium"
                  },
                  {
                     "value": "600",
                     "label": "600 Semi Bold (Demi Bold)"
                  },
                  {
                     "value": "700",
                     "label": "700 Bold"
                  },
                  {
                     "value": "800",
                     "label": "800 Extra Bold (Ultra Bold)"
                  },
                  {
                     "value": "900",
                     "label": "900 Black (Heavy)"
                  }
               ]
            },
            {
               "type": "text",
               "id": "text_margin_4",
               "label": "Text 4 margin"
            },
            {
               "type": "text",
               "id": "text_lsp_4",
               "label": "Text 4 letter spacing"
            },
            {
               "type": "text",
               "id": "text_lh_4",
               "label": "Text 4 line height"
            }
         ]
      },
      {
         "type":"separator",
         "name":"Separator",
         "settings":[
            {
              "type":"text",
              "id":"height",
              "label":"Height",
              "default": "30px"
            },
            {
              "type":"header",
              "content":"Block settings"
            },
            {
              "type":"text",
              "id":"width_resp",
              "label":"Width (1->12)",
              "placeholder":"xl,lg,md,sm,xs,xxs",
              "default":"12",
              "info":"0 to hide. E.g: 4,6,12"
            },
            {
               "type":"checkbox",
               "id":"nested",
               "label":"Block nested"
            }
         ]
      },
      {
        "type":"logo",
        "name":"Logo",
        "limit":1,
        "settings":[
          {
            "type":"image_picker",
            "id":"logo",
            "label":"Footer logo image"
          },
          {
            "type":"text",
            "id":"logo_max_width",
            "label":"Logo maximum width",
            "default":"120",
            "placeholder":"Only digits. E.g: 110"
          },
          {
            "type":"header",
            "content":"Block settings"
          },
          {
            "type":"text",
            "id":"width_resp",
            "label":"Width (1->12)",
            "placeholder":"xl,lg,md,sm,xs,xxs",
            "default":"12",
            "info":"0 to hide. E.g: 4,6,12"
          },
          {
             "type":"checkbox",
             "id":"nested",
             "label":"Block nested"
          },
          {
            "type":"text",
            "id":"alignment",
            "label":"Horizontal alignment",
            "default":"left",
            "placeholder": "E.g: left or center","info":"[Breakpoint(?)](https:\/\/help.arenacommerce.com\/customization\/grid.html)"
          },
          {
             "type":"text",
             "id":"block_padding",
             "label":"Block padding",
             "placeholder":"E.g: 5px 20px 5px 20px",
             "info":"Order: Top Right Bottom Left"
          },
          {
             "type":"text",
             "id":"block_margin",
             "label":"Block margin",
             "placeholder":"E.g: 5px 20px 5px 20px",
             "info":"Order: Top Right Bottom Left"
          }
        ]
      },
      {
         "type":"countdown",
         "name":"Countdown date",
         "limit":1,
         "settings":[
            {
               "type": "text",
               "id": "countdown_date",
               "label": "Countdown date",
               "placeholder": "MM/DD/YYYY"
            },
            {
               "type":"text",
               "id":"time_fs",
               "label":"Time font size",
               "default": "22px"
            },
            {
               "type":"color",
               "id":"time_cl",
               "label":"Time color",
               "default": "#000000"
            },
            {
               "type":"range",
               "id":"time_fw",
               "label":"Time font weight",
               "min":100,
               "max":900,
               "step":100,
               "default":700
            },
            {
               "type":"text",
               "id":"date_fs",
               "label":"Date font size",
               "default": "16px"
            },
            {
               "type":"color",
               "id":"date_cl",
               "label":"Date color",
               "default": "#000000"
            },
            {
               "type":"range",
               "id":"date_fw",
               "label":"Date font weight",
               "min":100,
               "max":900,
               "step":100,
               "default":400
            },
            {
               "type":"header",
               "content":"Countdown style"
            },
            {
               "type":"range",
               "id":"countdown_style",
               "label":"Style",
               "min":1,
               "max":3,
               "step":1,
               "default":1
            },
            {
               "type":"color",
               "id":"color_1",
               "label":"Color 1",
               "default": "#a1a2a0"
            },
            {
               "type":"color",
               "id":"color_2",
               "label":"Color 2",
               "default": "#FF0000",
               "info": "Only for style 02"
            },
            {
              "type":"header",
              "content":"Block settings"
            },
            {
              "type":"text",
              "id":"width_resp",
              "label":"Width (1->12)",
              "placeholder":"xl,lg,md,sm,xs,xxs",
              "default":"12",
              "info":"0 to hide. E.g: 4,6,12"
            },
            {
               "type":"checkbox",
               "id":"nested",
               "label":"Block nested"
            },
            {
              "type":"text",
              "id":"alignment",
              "label":"Horizontal alignment",
              "default":"left",
              "placeholder": "E.g: left or center","info":"[Breakpoint(?)](https:\/\/help.arenacommerce.com\/customization\/grid.html)"
            },
            {
               "type":"text",
               "id":"block_padding",
               "label":"Block padding",
               "placeholder":"E.g: 5px 20px 5px 20px",
               "info":"Order: Top Right Bottom Left"
            },
            {
               "type":"text",
               "id":"block_margin",
               "label":"Block margin",
               "placeholder":"E.g: 5px 20px 5px 20px",
               "info":"Order: Top Right Bottom Left"
            }
          ]
      },
      {
        "type":"social_group",
        "name":"Group Social icon",
        "settings":[
          {
            "type":"header",
            "content":"Block settings"
          },
          {
             "type":"checkbox",
             "id":"nested",
             "label":"Block nested"
          },
          {
            "type":"text",
            "id":"width_resp",
            "label":"Width (1->12)",
            "placeholder":"xl,lg,md,sm,xs,xxs",
            "default":"12",
            "info":"0 to hide. E.g: 4,6,12"
          },
          {
            "type":"text",
            "id":"alignment",
            "label":"Horizontal alignment",
            "default":"left",
            "placeholder": "E.g: left or center","info":"[Breakpoint(?)](https:\/\/help.arenacommerce.com\/customization\/grid.html)"
          },
          {
             "type":"text",
             "id":"block_padding",
             "label":"Block padding",
             "placeholder":"E.g: 5px 20px 5px 20px",
             "info":"Order: Top Right Bottom Left"
          },
          {
             "type":"text",
             "id":"block_margin",
             "label":"Block margin",
             "placeholder":"E.g: 5px 20px 5px 20px",
             "info":"Order: Top Right Bottom Left"
          },
          {
            "type":"header",
            "content":"Social icon settings"
          },
          {
             "type":"text",
             "id":"soc_fs",
             "label":"Social icon font size",
             "default": "18px"
          },
          {
             "type":"color",
             "id":"soc_color",
             "label":"Icon color",
             "default": "#1A1A1A"
          },
          {
             "type":"color",
             "id":"soc_bg_color",
             "label":"Icon background color",
             "default": "rgba(0,0,0,0)"
          },
          {
            "type":"text",
            "id":"soc_padding",
            "label":"Social item Padding",
            "placeholder":"E.g: 5px 20px 5px 20px",
            "info":"Order: Top Right Bottom Left"
          },
          {
            "type":"text",
            "id":"soc_margin",
            "label":"Social item Margin",
            "placeholder":"E.g: 5px 20px 5px 20px",
            "info":"Order: Top Right Bottom Left"
          },
          {
            "type":"text",
            "id":"soc_rd",
            "label":"Social item border rounded corners",
            "placeholder":"E.g: 5px"
          },
          {
             "type":"header",
             "content":"Social icon 1"
          },
          {
             "type":"text",
             "id":"soc_icon_1",
             "label":"Font icon name",
             "default": "icon-facebook"
          },
          {
             "type":"url",
             "id":"soc_link_1",
             "label":"Social link"
          },
          {
             "type":"header",
             "content":"Social icon 2"
          },
          {
             "type":"text",
             "id":"soc_icon_2",
             "label":"Font icon name",
             "default": "icon-twitter"
          },
          {
             "type":"url",
             "id":"soc_link_2",
             "label":"Social link"
          },
          {
             "type":"header",
             "content":"Social icon 3"
          },
          {
             "type":"text",
             "id":"soc_icon_3",
             "label":"Font icon name",
             "default": "icon-instagram"
          },
          {
             "type":"url",
             "id":"soc_link_3",
             "label":"Social link"
          },
          {
             "type":"header",
             "content":"Social icon 4"
          },
          {
             "type":"text",
             "id":"soc_icon_4",
             "label":"Font icon name"
          },
          {
             "type":"url",
             "id":"soc_link_4",
             "label":"Social link"
          },
          {
             "type":"header",
             "content":"Social icon 5"
          },
          {
             "type":"text",
             "id":"soc_icon_5",
             "label":"Font icon name"
          },
          {
             "type":"url",
             "id":"soc_link_5",
             "label":"Social link"
          }
        ]
      },
      {
        "type":"banner",
        "name":"Banner",
        "limit":1,
        "settings":[
          {
            "type":"image_picker",
            "id":"image",
            "label":"Banner image"
          },
          {
             "type":"text",
             "id":"height",
             "label":"Banner height",
             "default": "320px"
          },
          {
             "type":"text",
             "id":"bg_position",
             "label":"Banner position",
             "default": "center center"
          },
          {
             "type":"header",
             "content":"Block Nested inside"
          },
          {
             "type":"checkbox",
             "id":"use_overlay",
             "label":"Use as content overlay"
          },
          {
             "type":"text",
             "id":"position",
             "label":"Overlay position",
             "default": "50%,50%",
             "info": "Horizontal, Vertical"
          },
          {
            "type":"header",
            "content":"Block settings"
          },
          {
            "type":"text",
            "id":"width_resp",
            "label":"Width (1->12)",
            "placeholder":"xl,lg,md,sm,xs,xxs",
            "default":"12",
            "info":"0 to hide. E.g: 4,6,12"
          },
          {
             "type":"checkbox",
             "id":"nested",
             "label":"Block nested"
          },
          {
            "type":"text",
            "id":"alignment",
            "label":"Horizontal alignment",
            "default":"left",
            "placeholder": "E.g: left or center","info":"[Breakpoint(?)](https:\/\/help.arenacommerce.com\/customization\/grid.html)"
          },
          {
             "type":"text",
             "id":"block_padding",
             "label":"Block padding",
             "placeholder":"E.g: 5px 20px 5px 20px",
             "info":"Order: Top Right Bottom Left"
          },
          {
             "type":"text",
             "id":"block_margin",
             "label":"Block margin",
             "placeholder":"E.g: 5px 20px 5px 20px",
             "info":"Order: Top Right Bottom Left"
          }
        ]
      }
   ]
}
{% endschema %}